.jumbotron
{
background-color:yellow;
}
.container
{
margin-top:100px;
}
body
{
background-image:url(https://media.istockphoto.com/id/1128119311/photo/cubes-with-the-word-news-on-a-newspaper.jpg?b=1&s=170667a&w=0&k=20&c=6KpkbF1_RLB5P9dP6dCEBbrk_TR8y7yAvTBCXsCc87k=);
background-size:cover;
background-repeat:no repeat;
}
h1
{
background-color:yellow;
color:blue;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}
ul
{
font-size:30px;
background-color:green;
color:white;
}